# Git
.git
.gitignore

# Compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/coverage
/.nyc_output
/test

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files (include only in docker-compose)
# .env
# .env.*

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
LICENSE
